<!DOCTYPE html>

<html>
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="./static/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div>
      <form id="register">
        Username: <input type="text" name="name" id="profile-name"><br>
        password: <input type="password" name="pw1" id="pw1" ><br>
        retype password: <input type="password" name="pw2" id="pw2"><br>
        <button type="submit">Register</button>
      </form>
    </div>
    <script src="/static/client.js"></script>

  </body>
</html>
